<h1>Welcome to the new awesome Movie Quiz</h1>
<p>Enter a word on the form below to star playing:</p>
<form action="/quiz" method="POST">
<input type="text" name="movie_word" placeholder="Enter your search">
<button type="submit">PLAY</button>
</form>



